body {
  min-height: 100vh;
  display: grid;
  grid-template:
    "header header" auto
    "sidebar main" 1fr
    "footer footer" auto
    / 1fr 240px;
}

header {
  height: 80px;
  border-bottom: 1px solid #000;
  grid-area: header;
}

/* asideタグはclas */
aside {
  grid-area: sidebar;
  background-color: #ccc;
}

main {
  grid-area: main;
}

footer {
  height: 200px;
  background-color: #eee;
  grid-area: footer;
}
