/* body {
  min-height: 100vh;
  display: grid;
  grid-template-rows:
    "header header" auto
    "sidebar main" 1fr
    "footer footer" auto
    /240px 1fr
}
header {
  height: 80px;
  border-bottom: 1px solid #000;
}
footer {
  background-color: #eee;
  height: 200px;
} */

@charset 'utf-8';

.grid {
  display: grid;
  /* grid-template-columns: 100px 1fr 1fr 100px; */
  /* grid-template-rows: 100px 1fr 100px; */
  grid-template: 100px 1fr /200px 1fr;
  padding: 1rem;
  height: 500px;
}

.item {
  border: 1px solid #000;
  padding: 1rem;
}
