/* body {
  min-height: 100vh;
  display: grid;
  grid-template-rows:
    "header header" auto
    "sidebar main" 1fr
    "footer footer" auto
    /240px 1fr
}
header {
  height: 80px;
  border-bottom: 1px solid #000;
}
footer {
  background-color: #eee;
  height: 200px;
} */

@charset 'utf-8';
body {
  min-height: 100vh;
  display: grid;
}

.grid {
  display: grid;
  grid-template:
    "head head" 100px
    "side main" 1fr
    "foot foot" 80px
    /240px 1fr;
}

.header {
  grid-area: head;
}

.sidebar {
  grid-area: side;
}

.main {
  grid-area: main;
}

.footer {
  grid-area: foot;
}

.item {
  border: 1px solid #000;
  padding: 1rem;
}
