body {
  min-height: 100vh;
  display: grid;
  grid-template-rows:
    "header header" auto
    "sidebar main" 1fr
    "footer footer" auto
    /240px 1fr
}
header {
  height: 80px;
  border-bottom: 1px solid #000;
}
footer {
  background-color: #eee;
  height: 200px;
}
